div {
 /* display: flex; */
    height: 60px;
    width: 60px;
    background: red;
    margin: 5px;
     transition: height 3s, width 3s;
}

div:hover{
    width: 300px;
}
#div1{
    transition-timing-function: ease;
}

#div2{
    transition-timing-function: linear;
}

#div3{
    transition-timing-function: ease-in;
}

#div{
    transition-timing-function: ease-out;
}

#div{
    transition-timing-function:ease-in-out
}
/* div:hover {
    width: 400px;
    height: 400px;
} */